
mixin CreateCard(title, description, image, label)
    div.card
        div.image
            img(src="./images/water.png")
        img.image__bg(src="./images/bg-leaves.png")
        div.text
            h2 #{title}
            p #{description}
            div.card__prices
                p.card__title Цена:
                div.card__price
                    img.card__image(src="./images/water1-min.png")
                    p 52
                        span грн
                div.card__price
                    img.card__image(src="./images/water2-min.png")
                    p 75
                        span грн
                div.card__price
                    img.card__image(src="./images/water3-min.png")
                    p 85
                        span грн
        if(label)
            div.card__label + помпа в подарок
        a(href="").button.icon-bye-btn ЗАКАЗАТЬ
mixin CreateBlock(title, content)
    h3 #{title}
    p #{content}
mixin Createitem(image, number, price, label)
    div.item
        div.image
            img.image__water(src=image)
            img.image__water-bg(src="./images/bg-leaves.png")
            a(href="").button.icon-bye-btn ЗАКАЗАТЬ
        div.item__price
            p #{number}
            -if(i<= 1)
                p  баллон
            -else 
                p баллона
            p #{price}
                span грн
        if(label)
            div.item__label 
                p.label__text + помпа в подарок
                img.label__image(src="./images/pompa-min.png")    
mixin Createequipment(image, title, text1, price1, text2, price2, label)
    div.coolers
        div.image
            img(src=image)
        div.cooler__title
            p #{title}
        div.table1
            p #{text1}
                span #{price1}
        div.table2
            p #{text2}
                span #{price2}
        if(label)
            div.cooler__label 
                p.label__text Акция!     


                     



